.carFormWrapper{
  width: 50%;
  margin: auto;
}
.car-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.car-form input{
  height: 5vh;
}

.form-group {
  display: flex;
  flex-direction: column; 
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox-group label {
  padding: 10px;
  cursor: pointer;
}
.checkbox {
  cursor: pointer;
  height: 10px;
  width: 20px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}
.checkbox-groups {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
