.search-heading {
  padding-top: 1em;
}
.search-container {
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  background: rgba(134, 134, 134, 0.177);
  border-radius: 10rem;
  height: 80vh;
}

.search-form-detailed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1em 2em;
}
.feature-label {
  cursor: pointer;
}
.search-form-detailed select {
  width: 100%;
  height: 2.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.search-detailed {
  width: 80%;
}

select:focus {
  outline: none;
  border-color: #03418470;
  box-shadow: 0 0 0.5em rgba(0, 59, 122, 0.5);
}
