.car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px; 
  width: 200px;  
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.carImage {
  width: 100%;
  height: 150px; 
  object-fit: cover; 
}

.carInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 10px;
}

.carInfo h4,
.carInfo p {
  margin: 0;
  padding: 5px 0;
}

.carInfo button {
  align-self: flex-start;
  margin-top: auto;
}