.car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18em;
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  margin: auto;
}

.carImage {
  width: 17em;
  height: 12rem;
  object-fit: cover;
  border-radius: 2px;
  background-color: #f0f0f0;
  display: block;
  margin: auto;
}

.carInfo {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px 20px;
}
.wide {
  margin: auto;
  text-align: center;
  grid-column: span 2; /* This item spans 2 columns */
  background-color: lightcoral;
}

.carInfo h4,
.carInfo p {
  margin: 0;
  padding: 5px 0;
  padding-bottom: 10px;
  align-self: flex-start;
  margin-top: auto;
}

.carInfo button {
  align-self: center;
  margin-top: auto;
}

@media (max-width: 1536px) {
  .car {
    width: 12em;
  }
  .carImage {
    width: 11em;
    height: 8rem;
  }
}
@media (max-width: 640px) {
  .hidden-car {
    display: none;
  }
  .car {
    width: 16em;
  }
  .carImage {
    width: 15em;
    height: 10rem;
  }
}
