ul {
  list-style: none;
}

.cars {
  background-color: rgba(147, 147, 147, 0.209);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  max-width: 100%; 
  margin: 0 auto;
  padding-top: 2rem;
  gap: 50px;
}
