.body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}
.modal {
  margin: auto;
  background: rgba(255, 255, 255, 0);
}
#modal-overlay {
  height: 100%;
  width: 100%;
  background: rgba(49, 49, 49, 0.144);
}

.modal-content {
  background: white;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 40px 28px;
  border-radius: 3px;
  width: 30vw;
  max-height: 80vh; /* Set a maximum height */
  /* overflow-y: auto; Enable vertical scrolling */
}
