.cars-msg {
  text-align: center;
  color: rgba(0, 0, 0, 0.713);
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-template-areas:
    "."
    "newCar-title"
    "bounce-arrow"
    ".";
  justify-items: center;
  align-items: center;
}
.newCar-title {
  grid-area: newCar-title;
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
}
.bounce-arrow {
  grid-area: bounce-arrow;
  max-width: 5vh;
  position: relative;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
